.row {
    margin-right: 0px;
    margin-left: 0px;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.footer {
    background-color: rgb(181, 222, 233);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 0px 0px 0px 0px;
    margin: 0px auto;
    background: rgb(163, 163, 167);
    color:  #080C49; 
}

body {
    padding: 60px 0px 0px 0px;
    z-index: 0;
    background:  rgb(195, 200, 241);
    overflow-y: scroll;
}

.navbar{
    overflow-y: hidden !important;
}

.navbar-dark {
    background-color: #080C49;
    font-family: 'Courier New', Courier, monospace;

}

.carousel { 
    padding-right: 0px;  
}

.carousel-item {
    height: 500px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
    width: 100%;
}

.carousel-caption {
    text-align: end;
    bottom: 200;
    right: 0;
    
}
.carouselSki-caption {
    text-align: initial;
    top: 0;
    left: 0;
}

.heading {
    margin: 0;
    padding: 100px 0px 0px 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: #080C49; 


}
