.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {background-color: rgb(181, 222, 233);
margin: 0px auto;
padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 0px 0px 0px 0px;
    margin: 0px auto;
    background: rgb(163, 163, 167);
    color:  #080C49;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body {
    padding: 60px 0px 0px 0px;
    z-index: 0;
    background:  rgb(195, 200, 241);
    overflow-y: scroll;
}

.navbar-dark {
    background-color: #080C49;

}

.reserve-table {
    padding: 0px 10px 0px 10px;
    
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel {
    background: cover; 
    padding-right: 0px;
    padding-top: 0px;
    width: 100%;     
    opacity: 0.75;      
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.carousel-item img {
    position: relative; 
    width: 100%;   
    opacity: 0.5;
}

span.carousel-control-prev-icon, 
span.carousel-control-next-icon{
    height: 15%;
    top: 33%;
    width: 85px;  
    fill:  #080C49;    
}

span.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#080C49' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

span.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#080C49' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

ol.carousel-indicators li {
    display: inline-block;
    width: 88px;
    height: 18px;
    margin: 20px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 15%;
    background-color:  #080C49;
    box-shadow: inset 3px 3px 3px 3px rgba(0,0,0,0.5);    
}

