.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color:rgb(216, 15, 15);;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: white;
    font-size: 25px;
}

.list-unstyled a {
    color: white;
}

.jumbotron {
    padding: 0px 0px 0px 0px;
    margin: 0px auto;
    background: rgb(163, 163, 167);
    color:  #080C49;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}



.navbar-dark {
    background-color: #080C49;

}

.reserve-table {
    padding: 0px 10px 0px 10px;
    
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel {
    background: cover; 
    padding-right: 0px;
    padding-top: 0px;  
} 

.carousel-item {
    height: 500px;

}
.carousel-item img {
    position: absolute;
    min-height: 500px;
}