/* .hero-image {
    background-image: url("/images/background.jpg");
    /* background-color: #cccccc; */
<<<<<<< HEAD
    height: 2500px;
<<<<<<< HEAD
=======
=======
    /* height: 2500px; */
>>>>>>> 6bb9d6f0654c39b7b7c8e9664b795787b382c99e
    /* opacity: 0.5; */
    /* filter: alpha(opacity=50); */
>>>>>>> a7c0552afc2ec02e99dbe83534c4b9561fbe399f
    /* background-position: center; */
    /* background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
} */

/* 
@keyframes shake{
    0%{transform:translate(1px,1px) rotate(0deg);}
    10%{transform:translate(-1px,-2px) rotate(-1deg);}
    20%{transform:translate(-3px,0px) rotate(1deg);}
    30%{transform:translate(3px,2px) rotate(0deg);}
    40%{transform:translate(1px,-1px) rotate(1deg);}
    50%{transform:translate(-1px,1px) rotate(-1deg);}
    60%{transform:translate(-3px,1px) rotate(0deg);}
    70%{transform:translate(3px,1px) rotate(-1deg);}
    80%{transform:translate(-1px,-1px) rotate(1deg);}
    90%{transform:translate(1px,2px) rotate(0deg);}
    100%{transform:translate(1px,-2px) rotate(-1deg);}
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
.navbar-inner {
    background:transparent;
=======
.img:hover{
    animation: shake 0.8s infinite;
>>>>>>> 6bb9d6f0654c39b7b7c8e9664b795787b382c99e
}

>>>>>>> a7c0552afc2ec02e99dbe83534c4b9561fbe399f
.hero-text {
    text-align: center; 
    color: rgb(168, 35, 35);
    width:100%;
    background-color: yellowgreen;
   
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
body{
=======
/* body{
>>>>>>> 6bb9d6f0654c39b7b7c8e9664b795787b382c99e
    width:100%;
    padding-top: 70px;
} */

/* .slider{
    width: 100%;
    height: 450px;
}

.carousel{
     */

/* *{
    border: 1px solid;
} */
>>>>>>> a7c0552afc2ec02e99dbe83534c4b9561fbe399f

/* .container {
    padding: 0px 0px;
    margin: 0px 0px;    
} */
/* 
.img {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 100%;         
    margin-bottom: 25px;
    border: 1px solid;    
    text-align: center;
    outline: none;
    font-size: 15px;
}
.img:hover {
    background-color: #f01d1d;
} */



