body {
    width:100%;
    padding-top: 0px;
    margin: 0;    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a.col-5.navbar-brand {
    height: 200px;
}

div.col-3{
    height: 250px;
}

nav {    
    position: absolute;
    background: transparent !important;
    width:95%;
    opacity: 0.95;
    height: 250px;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 999;
}

.carousel {    
    width: 100%;    
}

ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}
ul li:hover{
    background: rgba(255, 81, 0, 0.37);
   
    text-decoration: none;  
    animation: shake 0.8s infinite;
}
ul li a{
    color: rgb(173, 35, 10);
    font-size: 45px; 
    font-weight: bold;   

}

ul li a:hover {
    text-decoration: none;
    color: white;
}

span.carousel-control-prev-icon, 
span.carousel-control-next-icon{
    height: 15%;
    top: 33%;
    width: 75px;
    
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
    float: left;
    width: 8%;
    height: 25px; 
}


.toggle{
    background: transparent;
    padding: 0px 0px;   
    width: 125px;
    height: 128px;
    border-radius: 15px; 
    text-align: center;   
    box-sizing: border-box;
    color: rgb(216, 15, 15);
    font-size: 85px;
    border: 5px solid rgb(216, 15, 15);

}

@media (max-width:768px){
    .toggle {
        display: block;
    }

    ul {
        width: 100%;
        display: none;
    }

    ul li {
        display: inline-block;
        text-align: center;
    }
    .active{
        display: block;
    }

}
@media (max-width:900px){
    #logo{
        width: 100%;
        display: none;
    }
}

@keyframes shake{
    0%{transform:translate(1px,1px) rotate(0deg);}
    10%{transform:translate(-1px,-2px) rotate(-1deg);}
    20%{transform:translate(-3px,0px) rotate(1deg);}
    30%{transform:translate(3px,2px) rotate(0deg);}
    40%{transform:translate(1px,-1px) rotate(1deg);}
    50%{transform:translate(-1px,1px) rotate(-1deg);}
    60%{transform:translate(-3px,1px) rotate(0deg);}
    70%{transform:translate(3px,1px) rotate(-1deg);}
    80%{transform:translate(-1px,-1px) rotate(1deg);}
    90%{transform:translate(1px,2px) rotate(0deg);}
    100%{transform:translate(1px,-2px) rotate(-1deg);}
}







/* .navbar ul li, .navbar-header a{
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 15px; 
    
}


a.navbar-brand {
    height: 200px;
}

button.navbar-toggle {
    width: 85px;  
    margin: 0;    
}

span.icon-bar {
    background-color:rgb(216, 15, 15) !important;
    border-color: rgb(216, 15, 15) !important;
    border:8px solid rgb(216, 15, 15);
    width: 63px !important;
    border-radius: 7px !important;
    
    

 }
 */
